@media screen and (min-width:320px) {
    .brands{
        .repair{
            font-size: 17px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 24px;
            color:#7E7E82;
            background-image: linear-gradient(90deg,transparent 40%,#fff);
            margin-top:16px;
            border-top: 2px solid #D9FFF5;
            &__indent{
                padding:16px;
            }
        }
        .slider{
            background-color:#F8F8F8;
        }
        .slider__padding{
            padding:16px 0;  
        }
        .link{
            height:72px;
            background-color:white;
            border:1px solid #EAEAEA;
            border-radius: 4px;
            margin-left:16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            transition: all 0.5s ease;
            border-radius: 6px;
            &:hover{
                transform: scale(1.1);
            }
            &__img{
                width:108px;
                height: 32px;
            }
            &__arrow{
                width: 40px;
                height:40px;
                border: 2px solid #FF3E79;
                border-radius: 50%;
                position: relative;
            }
            &__arrow::after{
                content: '';
                width:7px;
                height:7px;
                border-left:2px solid #FF3E79;
                border-top:2px solid #FF3E79;
                border-top-right-radius: 2px;
                border-bottom-left-radius: 2px;
                position: absolute;
                transform:rotate(130deg);
                left:13px;
                top:13px; 
            }
        }
        .swiper-slide:nth-child(3) .link__img , .swiper-slide:nth-child(11) .link__img{
            width:44px;
            height:44px;
        }
        .swiper-slide:nth-child(5) .link__img{
            width:52px;
            height:52px;
        }
        .slider__items{
            width:230px;
            display: flex;
         }
        .circle{
            display: block;
            &__spac{
                padding:15px 0 38px 0;
                position: relative;
            }
        }
        .swiper-pagination-bullet{
            width:12px;
            height:12px;
            &-active{
                background-color: #7E7E82;
            }
        }
        .all{
            display: none;
        }
    }
}

@media screen and (min-width:768px) {
    .brands{
        .slider__items{
            width:100%;
            height:180px;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3,230px);
            gap: 32px;
         }
         .slider__padding{
            padding:16px;  
        }
         .link{
            margin:0;
         }
        .circle{
            display: none;
        }
        .all{
            display: block;
            margin-left:45px;
            position: relative;
            font-weight: 500;
            font-size: 16px;
            padding-top:10px;
            background: none;
            border: none;
            cursor: pointer;
            
        }
        .arrow__bottom:after,.arrow__bottom:before,.arrow__top:after,.arrow__top:before{
            content:'';
            width:6px;
            height:6px;
            transform:rotate(45deg);
            position: absolute;
            left:-22%;
        }
        .arrow__bottom:after{
            border-right: 2px solid #41F6D7;
            border-bottom: 2px solid #41F6D7;
            top:55%;
        }
        .arrow__bottom:before{
            border-right: 2px solid #41F6D7;
            border-bottom: 2px solid #41F6D7;
            top:35%;
        }
    
        .arrow__top:after{
            border-left: 2px solid #41F6D7;
            border-top: 2px solid #41F6D7;
            top:75%;
        }
        .arrow__top:before{
            border-left: 2px solid #41F6D7;
            border-top: 2px solid #41F6D7;
            top:55%;
        }
    }
    
}
@media screen and (min-width:1280px) {
    .brands{
        margin-left:320px;
        .slider__items{
            grid-template-columns: repeat(4,230px);
        }
    }
}