@media screen and (min-width:320px) {
    .footer{
        text-align: center;
        .copy{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-left:16px;
            &__item{
                margin:16px 0;
                color:#7E7E82;
                list-style-type: none;
            }
        }
        
    }
}
@media screen and (min-width:768px) {
    .footer{
        .copy{
            flex-direction: row;
            justify-content: space-between;
            &__item:nth-child(1){
                text-align: left;
            }
            &__item:nth-child(3){
                text-align: right;
            }
        }
    }
}
@media screen and (min-width:1280px) {
    .footer{
        margin-left:320px;
    }
}